.box {
    background-color: #212429;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 420px;
    padding: 15px;
    border-radius: 25px;
}
.header {
    margin: 10px 0;
}
.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.input {
    border: 1px solid rgb(44,47,54);
    border-radius: 20px;
    width: 100%;
}
.iconBox {
    display: flex;
    margin: auto;
}
.dJQRda {
    display: flex;
    flex-flow: row;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 0.75rem;
    line-height: 1rem;
    padding: 0.75rem 1rem 0px;
}
.lldVYp {
    display: flex;
    flex-flow: row;
    -webkit-box-align: center;
    align-items: center;
    padding: 0.75rem 0.75rem 0.75rem 1rem;
}
.dKIWpo {
    color: rgb(255, 255, 255);
    width: 0px;
    position: relative;
    font-weight: 500;
    outline: none;
    border: none;
    flex: 1 1 auto;
    background-color: rgb(33, 36, 41);
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px;
    appearance: textfield;
}
.hempoT {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.footer {
    margin-top: 20px;
    width: 100%;
}

.llxtyD {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 100%;
    padding: 0px;
    border-radius: 20px;
    background-color: rgb(64, 68, 79);
}
.eBPIUF {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 1rem;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.css_1aekuku {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-weight: 500;
    font-size: 14px;
}
.kRxDMJ {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 100%;
    padding: 1rem;
    border-radius: 20px;
    border: 1px solid rgb(44, 47, 54);
    background-color: rgb(33, 36, 41);
}
.QEkkJ {
    box-sizing: border-box;
    min-width: 0px;
    width: 100%;
    display: flex;
    padding: 0px;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    margin: -4px;
    justify-content: space-around;
    gap: 10px;
}
.dtBQMW {
    display: grid;
    grid-auto-rows: auto;
    row-gap: 12px;
}
.css_1kt4f20 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-weight: 500;
}
.css_1ayx7yo {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-weight: 500;
    font-size: 14px;
    color: rgb(195, 197, 203);
    padding-top: 4px;
}