body {
    font-family: 'Inter', sans-serif;
}
.head_title {
    width: 100%;
    max-width: 1200px;
    font-size: 38px;
    margin-top: 54px;
    margin-bottom: 20px;
}
.main_box {
    width: 100%;
    background-color: #020B13;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: #020B13;
    height: 200px;
}


.my_card {
    width: 100%;
    /* height: 567px; */
    align-content: center;
    align-items: center;
    background: radial-gradient(48.1% 69.39999999999999% at 49.3% 0%, #1a203d 0%, rgb(6, 15, 23) 100%);
    border-radius: 28px;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 60px;
    justify-content: center;
    overflow: visible;
    padding: 60px;
    position: sticky;
    z-index: 2;
    border: 1px solid rgba(255, 255, 255, .1);
}
.my_card_fixed {
    width: 100%;
    height: 567px;
    align-content: center;
    align-items: center;
    background: radial-gradient(48.1% 69.39999999999999% at 49.3% 0%, #1a203d 0%, rgb(6, 15, 23) 100%);
    border-radius: 28px;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 60px;
    justify-content: center;
    overflow: visible;
    padding: 60px;
    position: sticky;
    z-index: 2;
    border: 1px solid rgba(255, 255, 255, .1);
}

.video_card {
    border-bottom-width: 1px;
    border-color: rgba(255, 255, 255, .1);
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-top-width: 1px;
    align-content: center;
    align-items: center;
    background: linear-gradient(180deg, #070912 0%, rgb(15, 21, 33) 100%);
    border-radius: 25px;
    box-shadow: 0 10px 20px #080b17cf;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    height: 450px;
    justify-content: center;
    left: -60px;
    overflow: hidden;
    padding: 20px;
    position: absolute;
    top: calc(50.088183421516774% - 450px / 2);
    width: 630px;
    will-change: var(--framer-will-change-override, transform);
    z-index: 1;
}

.bkimg-screen {
    aspect-ratio: 1.4 / 1;
    flex: none;
    height: var(--framer-aspect-ratio-supported, 450px);
    mix-blend-mode: screen;
    position: relative;
    width: 630px;
}

.video_card .bkimg-screen video {
    cursor: auto;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    display: block;
    object-fit: cover;
    background-color: rgba(0, 0, 0, 0);
    object-position: 50% 50%;
}

.link-style {
    color: white;
    text-decoration: underline;
}

.link-disabled {
    color: grey;
    cursor: not-allowed;
    text-decoration: none;
}

.link-style:hover {
    color: grey;
    text-decoration: none;
    cursor: pointer;
}

.link-icon {
    font-size: 1.5em;
    vertical-align: middle;
    margin-right: 10px;
}

/* 基础设置 */
.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.gap-12 {
    gap: 3rem;
    /* Tailwind 的 gap-12 大约等于 3rem */
}

.p-4 {
    padding: 1rem;
    /* Tailwind 的 p-4 */
}

.m-auto {
    margin: auto;
}

.overflow-hidden {
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
    left: 30px;
    top: 80px;
}

/* 字体大小 */
.text-24px {
    font-size: 24px;
}

.text-48px {
    font-size: 48px;
}

.text-56px {
    font-size: 56px;
}

/* 字体加粗 */
.text-bold {
    font-weight: bold;
}

/* 上边距 */
.mt-14 {
    margin-top: 3.5rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mt-20 {
    margin-top: 5rem;
}

.mt-12 {
    margin-top: 3rem;
}

/* 背景色、文本色和边框圆角 */
.bg-blue-500 {
    background-color: #2172E5;
}

.text-white {
    color: white;
}

.rounded-md {
    border-radius: 0.375rem;
}

.hover\:bg-blue-700:hover {
    background-color: #2b6cb0;
}

/* 其他 */
.px-0 {
    padding-left: 0;
    padding-right: 0;
}

.ml-8 {
    margin-left: 2rem;
}

.duration-200 {
    transition-duration: 200ms;
}

.rounded-lg {
    border-radius: 0.5rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.cursor-pointer {
    cursor: pointer;
}

/* 特定布局 */
.task-list {
    background-color: #212429;
    color: white;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
}

.task-list-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* 垂直居中子元素 */
    align-items: center;
}

.task-item {
    height: 10rem;
    background-color: #00bcd4;
}
@media screen and (max-width: 960px) {
    .head_title {
        max-width: 350px;
        font-size: 28px;
    }
}

.styled_link {
    text-decoration: none;
    cursor: pointer;
    color: #0070f3; /* 示例颜色，你需要根据实际的 theme.primary1 值进行调整 */
    font-weight: 500;
  }
  
  .styled_link:hover {
    text-decoration: underline;
  }
  
  .styled_link:focus {
    outline: none;
    text-decoration: underline;
  }
  
  .styled_link:active {
    text-decoration: none;
  }
  .task_box_cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(69, 70, 88, 0.5);
    display: flex;
    color: rgb(2, 97, 38);
    font-size: 24px;
    z-index: 2;
    border-radius: 28px;
}
.complete_logo {
    width:135px;
    height: 135px;
    margin-right: 10px;
}
.task_box_relative {
    position: relative;
    /* 使遮罩层绝对定位生效 */
}