@media screen and (max-width: 960px) {
    .task_box {
        max-width: 350px;
        padding: 20px 10px;
    }
    .task_box .task_main{
        display: flex;
        flex-direction: column;
        padding: 5px;
    }
    .task_box .task_header {
        display: flex;
        flex-direction: column;
        gap: 10px;
        /* width: 80%; */
        justify-content: start;
    }
    .task_swap{
        margin: 0;
        width: 100%;
    }
    .to_task_guide {
        margin-top: 8px;
        text-align: center;
        width: 100%;
    }
    .task_box_cover {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(69, 70, 88, 0.5);
        display: flex;
        color: rgb(2, 97, 38);
        font-size: 24px;
        z-index: 2;
        border-radius: 28px;
    }
    .complete_logo {
        width:80px;
        height: 80px;
        margin-right: 10px;
    }
}